.bg {
    background-image: url('images/context_A.jpg');
    background-color: rgb(30, 30, 30, 0.7);
    background-size: 100vw 100vh;
  }

.hidden {
	display: none;
}
.split {
    position: absolute;
    left: 0;
    right: 0;
}

.upper {
    top: 0;
    height: 50%;
}

.lower {
    bottom: 0;
    height: 50%;  
}

.upper.separate {
	border-bottom-style: solid;
    border-bottom-width: 2px;
}

.lower.separate {
	border-top-style: solid;
    border-top-width: 2px;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.stretched.horizontal {
	width: 100%;
}

.stretched.vertical {
	height: 100%;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 100%;
  border-radius: 50%;
}
	
h1 {
	color: dodgerblue;
	font-size: 10em;
}

.jspsych-html-button-response-button button {
  font-size: 4rem;
}